:root {
    --clr-primary: #033a11;
    --clr-secondary: #022e0d;
    --clr-gray: #989DA6;

    --rect-height: 3rem;
    --rect-width: 2rem;
}

html{
    display: flex;
    justify-content: center;
    background-color: gainsboro;
}

body{
    /* min-height:297mm; */
    min-width:210mm;
    /* max-height: 297mm; */
    max-width: 210mm;
    overflow: scroll;
}

strong{
    font-weight: bold;
    color: black;
    /* underline */
    /* text-decoration: underline; */
}


*{
    /* font-family: Ubuntu; */
    font-family: Helvetica;
    font-weight: 200;
    margin: 0;
    padding: 0;
  }
  
  p{
    font-size: 8pt;
    color: rgb(82, 82, 82);
  }
  

/* @font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu');
} */